.book-header {
  display: flex;
  width: 100%;
}

.book-info {
  display: flex;
  gap: 2em;
}

.books-table {
  border-collapse: collapse;
  width: 85%;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.books-table thead tr {
  background-color: aquamarine;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.books-table tbody {
  background-color: rgba(211, 211, 211, 0.5);
  border-bottom: 2px solid grey;
}
.books-table tbody tr {
  border-bottom: 1px solid grey;
}
.books-table tbody tr:nth-child(2n) {
  background-color: white;
}

/* .book-date {
  width: 3em;
  background-color: red;
}
.book-title {
  width: 3em;
  background-color: red;
}
.book-author {
  width: 3em;
  background-color: red;
}
.book-genre {
  width: 3em;
  background-color: red;
}
.book-pages {
  width: 3em;
  background-color: red;
}
.book-rating {
  width: 3em;
  background-color: red;
} */

.rating-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.25em;
  background-color: transparent;
  border: 1px solid black;
}
.rating-dot:last-child {
  margin-right: 0;
}

.book-rating.one :first-child {
  background-color: black;
}

.book-rating.two :nth-child(1),
.book-rating.two :nth-child(2) {
  background-color: black;
}

.book-rating.three :nth-child(1),
.book-rating.three :nth-child(2),
.book-rating.three :nth-child(3) {
  background-color: black;
}

.book-rating.four :nth-child(1),
.book-rating.four :nth-child(2),
.book-rating.four :nth-child(3),
.book-rating.four :nth-child(4) {
  background-color: black;
}

.book-rating.five > .rating-dot {
  background-color: black;
}
